body, html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
  background: #1e272e;
  -webkit-font-smoothing: antialiased;
}

.alert{
  text-align: center;
  text-transform: uppercase;
  color: red;
  background-color: pink;
  font-size: 1.2em;
  height: 30px;
  padding-top: 10px;
  display: none;
}


.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(18, 21, 25, 0.6);
  text-align: center;
  border-radius: 12px;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.5em;
}

h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5em;
}

.box input::-webkit-outer-spin-button,
.box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.box input[type=number] {
  -moz-appearance: textfield;
}

a{
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  font-family: 'montserrat', sans-serif;
}

p{
  color: white;
  font-family: 'montserrat', sans-serif;
  text-align: center;
}

.box input[type = "text"], .box input[type = "password"], .box input[type = "submit"],.box input[type = "email"],.box input[type = "number"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 1em;
}

.box input[type = "text"]:focus,.box input[type = "number"]:focus,.box input[type = "email"]:focus, .box input[type = "password"]:focus{
  width: 280px;
  border-color: #575fcf;
}

.box input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1em;
}
.box input[type = "submit"]:hover {
  background: #575fcf;
}
.box input[type = "submit"]::before {
  content: "";
  background: #000; 
  margin-top: -20px;
}